.cardd{
    background: linear-gradient(90deg, rgb(14,26,34), rgb(42,2,0));
    transition: all 0.5s ease-in-out;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(197, 102, 97));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(62, 215, 62, 0.19);
}
.cardd h5{
    color: #000;
}
.catHead{
    color: gray;
    font-weight: 700;
}
.cardd:hover{
  transform: translateY(-12px);
 
}
.cardd:hover h5{
    color: #000;
}