.navbarStart{
    /* margin-bottom: 2vh; */
    /* background-color: red; */
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 3;
}
 .badgeee{
   color: rgb(46, 46, 236);
   text-align: center;
   font-weight: bold;
}


.iconGold{
    color:rgb(160, 160, 11) ;
    font-size: 2rem;
    
}
.iconName{
    color: rgb(124, 1, 1);
}
.active{
    color: #fff;
}


